.message {
  display: flex;
  align-items: center;
  padding: 10px;
}

.avatar {
  margin-right: 10px;
}

.content {
  flex: 1;
}

.username {
  font-weight: bold;
  margin-right: 10px;
}

.timestamp {
  color: gray;
  margin-right: 10px;
}

.text {
  margin-top: 5px;
}

.edit_button {
  margin-left: 10px;
  padding: 5px;
  cursor: pointer;
}

.edit_input {
  width: 100%;
  margin-top: 5px;
  padding: 5px;
  font-size: 14px;
}
