.container {
    border-radius: 50%;
    transition: border-radius 0.3s, transform 0.3s;
    width: 48px; /* Slightly larger for better visibility */
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #36393f; /* Discord-like background color */
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container:hover,
.container:focus {
    border-radius: 35%;
    cursor: pointer;
    transform: scale(1.1); /* Slightly scale up on hover */
    background-color: #7289da; /* Discord-like hover color */
}
